<!DOCTYPE html>
<html>
<head>
    <title>Connection</title>
    <style type="text/css">
        .log-form {
            display: flex;
            align-items: center;
            justify-content: center;
            /*background: #eee;*/
            height: 100%;
            width: 100%;
        }
        .btn__login {
            position: relative;
            border: 1px solid #bebebe;
            color: #bebebe;
            background-color: #333333;
            height: 40px;
            border-radius: 4px;
            right: 0;
            width: 192px;
        }
        .input-line {
            background: none;
            margin-bottom: 10px;
            line-height: 2.4em;
            color: #fff;
            font-weight: 300;
        }
        body {
            background: #bebebe;
        }
        .input-fields {
            margin-top: 125px;
            border: 1px solid #fafafa;
            border-radius: 4px;
            padding: 2rem;
            display: flex;
            flex-flow: column;
            background: #222222;
            width: 450px;
        }
        .ma {
            margin: 0 auto;
        }
        .a-reg {
            margin: 0.5rem 0;
            text-decoration: none;
            color: #bebebe;
            font-size: 20px;
            text-align: center;
            justify-content: center;
            display: flex;
        }
        .ph-8 {
            padding: 0 8px;
        }
        .title-reg {
            font-family: Arial;
            color: #bebebe;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="log-form">
<form action="/registration" method="post">
    <div class="input-fields">
    <h2 class="title-reg" style="margin-top: 0">Регистрация</h2>
    <div class="ma"><input class="input-line btn__login ph-8" type="text" name="username" placeholder="Username" required/></div>
    <div class="ma"><input class="input-line btn__login ph-8" type="password" name="password" placeholder="Password" required/></div>
    <input type="hidden" name="{{_csrf.parameterName}}"
           value="{{_csrf.token}}" />
        <a class="a-reg" href="/login">Вернуться на ВХОД</a>
    <div class="ma"><input class="btn__login ph-8" type="submit" value="Зарегистрироваться"/></div>

    </div>
</form>
</div>
</body>
</html>